<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AC</key>
	<string>4</string>
	<key>AD</key>
	<string>9</string>
	<key>AE</key>
	<string>9</string>
	<key>AF</key>
	<string>9</string>
	<key>AG</key>
	<string>7</string>
	<key>AI</key>
	<string>7</string>
	<key>AL</key>
	<string>9</string>
	<key>AM</key>
	<string>8</string>
	<key>AO</key>
	<string>9</string>
	<key>AQ</key>
	<string>7</string>
	<key>AR</key>
	<string>10</string>
	<key>AS</key>
	<string>10</string>
	<key>AT</key>
	<string>12</string>
	<key>AU</key>
	<string>10</string>
	<key>AW</key>
	<string>7</string>
	<key>AX</key>
	<string>8</string>
	<key>AZ</key>
	<string>9</string>
	<key>BA</key>
	<string>8</string>
	<key>BB</key>
	<string>7</string>
	<key>BD</key>
	<string>10</string>
	<key>BE</key>
	<string>9</string>
	<key>BF</key>
	<string>8</string>
	<key>BG</key>
	<string>9</string>
	<key>BH</key>
	<string>8</string>
	<key>BI</key>
	<string>8</string>
	<key>BJ</key>
	<string>8</string>
	<key>BL</key>
	<string>9</string>
	<key>BM</key>
	<string>7</string>
	<key>BN</key>
	<string>7</string>
	<key>BO</key>
	<string>8</string>
	<key>BQ</key>
	<string>10</string>
	<key>BR</key>
	<string>10</string>
	<key>BV</key>
	<string>9</string>
	<key>BS</key>
	<string>7</string>
	<key>BT</key>
	<string>8</string>
	<key>BW</key>
	<string>8</string>
	<key>BY</key>
	<string>10</string>
	<key>BZ</key>
	<string>7</string>
	<key>CA</key>
	<string>10</string>
	<key>CD</key>
	<string>9</string>
	<key>CF</key>
	<string>8</string>
	<key>CG</key>
	<string>9</string>
	<key>CH</key>
	<string>12</string>
	<key>CI</key>
	<string>8</string>
	<key>CC</key>
	<string>8</string>
	<key>CK</key>
	<string>5</string>
	<key>CL</key>
	<string>9</string>
	<key>CM</key>
	<string>8</string>
	<key>CN</key>
	<string>10</string>
	<key>CO</key>
	<string>10</string>
	<key>CR</key>
	<string>8</string>
	<key>CU</key>
	<string>8</string>
	<key>CV</key>
	<string>7</string>
	<key>CY</key>
	<string>12</string>
	<key>CX</key>
	<string>8</string>
	<key>CW</key>
	<string>8</string>
	<key>CZ</key>
	<string>12</string>
	<key>DE</key>
	<string>13</string>
	<key>DJ</key>
	<string>6</string>
	<key>DK</key>
	<string>8</string>
	<key>DM</key>
	<string>7</string>
	<key>DO</key>
	<string>7</string>
	<key>DZ</key>
	<string>9</string>
	<key>EC</key>
	<string>8</string>
	<key>EE</key>
	<string>10</string>
	<key>EG</key>
	<string>9</string>
	<key>ER</key>
	<string>7</string>
	<key>ES</key>
	<string>9</string>
	<key>ET</key>
	<string>9</string>
	<key>FI</key>
	<string>12</string>
	<key>FJ</key>
	<string>7</string>
	<key>FK</key>
	<string>5</string>
	<key>FM</key>
	<string>7</string>
	<key>FO</key>
	<string>6</string>
	<key>FR</key>
	<string>9</string>
	<key>GA</key>
	<string>7</string>
	<key>GB</key>
	<string>10</string>
	<key>GD</key>
	<string>7</string>
	<key>GE</key>
	<string>9</string>
	<key>GF</key>
	<string>9</string>
	<key>GH</key>
	<string>9</string>
	<key>GQ</key>
	<string>9</string>
	<key>GI</key>
	<string>8</string>
	<key>GL</key>
	<string>6</string>
	<key>GM</key>
	<string>7</string>
	<key>GN</key>
	<string>8</string>
	<key>GP</key>
	<string>9</string>
	<key>GG</key>
	<string>10</string>
	<key>GR</key>
	<string>10</string>
	<key>GT</key>
	<string>8</string>
	<key>GU</key>
	<string>7</string>
	<key>GW</key>
	<string>7</string>
	<key>GY</key>
	<string>7</string>
	<key>HK</key>
	<string>8</string>
	<key>HN</key>
	<string>8</string>
	<key>HM</key>
	<string>10</string>
	<key>HR</key>
	<string>12</string>
	<key>HT</key>
	<string>8</string>
	<key>HU</key>
	<string>9</string>
	<key>ID</key>
	<string>10</string>
	<key>IE</key>
	<string>11</string>
	<key>IM</key>
	<string>10</string>
	<key>IL</key>
	<string>9</string>
	<key>IN</key>
	<string>10</string>
	<key>IO</key>
	<string>10</string>
	<key>IQ</key>
	<string>10</string>
	<key>IR</key>
	<string>10</string>
	<key>IS</key>
	<string>9</string>
	<key>IT</key>
	<string>11</string>
	<key>JA</key>
	<string>81</string>
	<key>JM</key>
	<string>7</string>
	<key>JO</key>
	<string>9</string>
	<key>JP</key>
	<string>13</string>
	<key>JE</key>
	<string>10</string>
	<key>KE</key>
	<string>10</string>
	<key>KG</key>
	<string>9</string>
	<key>KH</key>
	<string>8</string>
	<key>KI</key>
	<string>5</string>
	<key>KM</key>
	<string>7</string>
	<key>KN</key>
	<string>7</string>
	<key>KP</key>
	<string>10</string>
	<key>KR</key>
	<string>9</string>
	<key>KW</key>
	<string>9</string>
	<key>KY</key>
	<string>7</string>
	<key>KZ</key>
	<string>10</string>
	<key>LA</key>
	<string>10</string>
	<key>LB</key>
	<string>8</string>
	<key>LC</key>
	<string>7</string>
	<key>LI</key>
	<string>9</string>
	<key>LK</key>
	<string>9</string>
	<key>LR</key>
	<string>8</string>
	<key>LS</key>
	<string>8</string>
	<key>LT</key>
	<string>8</string>
	<key>LU</key>
	<string>11</string>
	<key>LV</key>
	<string>8</string>
	<key>LY</key>
	<string>9</string>
	<key>MA</key>
	<string>9</string>
	<key>MC</key>
	<string>9</string>
	<key>MD</key>
	<string>8</string>
	<key>ME</key>
	<string>12</string>
	<key>MG</key>
	<string>10</string>
	<key>GS</key>
	<string>5</string>
	<key>MH</key>
	<string>7</string>
	<key>MK</key>
	<string>7</string>
	<key>ML</key>
	<string>8</string>
	<key>MM</key>
	<string>9</string>
	<key>MN</key>
	<string>8</string>
	<key>MO</key>
	<string>8</string>
	<key>MP</key>
	<string>7</string>
	<key>MQ</key>
	<string>9</string>
	<key>MR</key>
	<string>7</string>
	<key>MS</key>
	<string>7</string>
	<key>MT</key>
	<string>7</string>
	<key>MU</key>
	<string>7</string>
	<key>MV</key>
	<string>7</string>
	<key>MW</key>
	<string>8</string>
	<key>MX</key>
	<string>10</string>
	<key>MY</key>
	<string>9</string>
	<key>MF</key>
	<string>7</string>
	<key>MZ</key>
	<string>9</string>
	<key>NA</key>
	<string>10</string>
	<key>NC</key>
	<string>6</string>
	<key>NE</key>
	<string>8</string>
	<key>NG</key>
	<string>10</string>
	<key>NI</key>
	<string>8</string>
	<key>NL</key>
	<string>9</string>
	<key>NO</key>
	<string>8</string>
	<key>NP</key>
	<string>9</string>
	<key>NR</key>
	<string>7</string>
	<key>NU</key>
	<string>4</string>
	<key>NZ</key>
	<string>10</string>
	<key>NF</key>
	<string>6</string>
	<key>OM</key>
	<string>8</string>
	<key>PA</key>
	<string>8</string>
	<key>PE</key>
	<string>11</string>
	<key>PF</key>
	<string>6</string>
	<key>PG</key>
	<string>11</string>
	<key>PH</key>
	<string>10</string>
	<key>PK</key>
	<string>11</string>
	<key>PL</key>
	<string>9</string>
	<key>PN</key>
	<string>9</string>
	<key>PM</key>
	<string>6</string>
	<key>PR</key>
	<string>7</string>
	<key>PS</key>
	<string>9</string>
	<key>PT</key>
	<string>11</string>
	<key>PW</key>
	<string>7</string>
	<key>PY</key>
	<string>9</string>
	<key>QA</key>
	<string>8</string>
	<key>RE</key>
	<string>10</string>
	<key>RO</key>
	<string>9</string>
	<key>RS</key>
	<string>12</string>
	<key>RU</key>
	<string>10</string>
	<key>RW</key>
	<string>9</string>
	<key>SA</key>
	<string>9</string>
	<key>SB</key>
	<string>5</string>
	<key>SC</key>
	<string>7</string>
	<key>SD</key>
	<string>9</string>
	<key>SE</key>
	<string>13</string>
	<key>SG</key>
	<string>8</string>
	<key>SH</key>
	<string>4</string>
	<key>SJ</key>
	<string>8</string>
	<key>SI</key>
	<string>8</string>
	<key>SK</key>
	<string>9</string>
	<key>SL</key>
	<string>8</string>
	<key>SM</key>
	<string>10</string>
	<key>SN</key>
	<string>9</string>
	<key>SO</key>
	<string>8</string>
	<key>SR</key>
	<string>7</string>
	<key>ST</key>
	<string>7</string>
	<key>SS</key>
	<string>10</string>
	<key>SV</key>
	<string>11</string>
	<key>SX</key>
	<string>7</string>
	<key>SY</key>
	<string>10</string>
	<key>SZ</key>
	<string>8</string>
	<key>TC</key>
	<string>7</string>
	<key>TD</key>
	<string>8</string>
	<key>TG</key>
	<string>8</string>
	<key>TH</key>
	<string>9</string>
	<key>TJ</key>
	<string>9</string>
	<key>TK</key>
	<string>4</string>
	<key>TM</key>
	<string>8</string>
	<key>TN</key>
	<string>8</string>
	<key>TO</key>
	<string>7</string>
	<key>TR</key>
	<string>10</string>
	<key>TT</key>
	<string>7</string>
	<key>TL</key>
	<string>7</string>
	<key>TV</key>
	<string>6</string>
	<key>TW</key>
	<string>9</string>
	<key>TF</key>
	<string>10</string>
	<key>TZ</key>
	<string>9</string>
	<key>UA</key>
	<string>9</string>
	<key>UG</key>
	<string>9</string>
	<key>UK</key>
	<string>10</string>
	<key>US</key>
	<string>10</string>
	<key>UM</key>
	<string>7</string>
	<key>UY</key>
	<string>11</string>
	<key>UZ</key>
	<string>10</string>
	<key>VA</key>
	<string>11</string>
	<key>VC</key>
	<string>7</string>
	<key>VE</key>
	<string>10</string>
	<key>VG</key>
	<string>7</string>
	<key>VI</key>
	<string>7</string>
	<key>VN</key>
	<string>10</string>
	<key>VU</key>
	<string>7</string>
	<key>WF</key>
	<string>6</string>
	<key>WS</key>
	<string>7</string>
	<key>YE</key>
	<string>9</string>
	<key>YT</key>
	<string>10</string>
	<key>ZA</key>
	<string>9</string>
	<key>ZM</key>
	<string>9</string>
	<key>EH</key>
	<string>9</string>
	<key>ZW</key>
	<string>10</string>
</dict>
</plist>
